<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <div class="container">
        <h1>Features page</h1>

        <div id="app">
            <form @submit.prevent="createServer" class="mb-4">
                <div class="mb-3">
                    <input type="text" v-model="name" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add item</button>
            </form>

            <!-- Button trigger modal
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button> -->

            <!-- Modal -->
            <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" v-model="newName">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="edit(currentServerId, newName)" 
                    data-toggle="modal"
                    data-target="#exampleModal">Save changes</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="spinner-border" role="status" v-if="servers.length === 0">
                <span class="sr-only">Loading...</span>
            </div>
            <ul class="list-group" v-else>
                <li class="list-group-item" v-for="(server) in servers">
                    {{ server.name }}
                    <strong class="mr-2">{{ server.status }}</strong>
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        @click="currentServerId = server.id, newName = server.name"
                    >
                        Edit
                    </button>
                    <button
                        type="button" class="btn btn-info"
                        class="btn" @click="remove(server.id)"
                    >
                        Delete
                    </button>
                    <button
                        type="button" class="btn btn-light"
                        class="btn" @click="getItemById(server.id)"
                    >
                        Single request
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/app.js"></script>
</body>
</html>